<section class="vh-150 bg-image">
    <div class="mask d-flex align-items-center h-150" style="padding-top:50px">
        <div class="container h-150">
            <div class="row d-flex justify-content-center align-items-center h-150">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6" style="padding-bottom:50px">
                    <div class="card" style="border-radius: 15px; border: 1px solid rgb(199, 199, 199);">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Edit a post</h2>
                            <form [formGroup]="angForm" novalidate class="signup-form" (ngSubmit)="updatePost(title.value, content.value, categoryId.value)">
                                <div class="form-outline mb-4" data-validate="Title is required">
                                    <input type="text" class="form-control" formControlName="title" #title [(ngModel)]="post.title" />
                                </div>
                                <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
                                    <div *ngIf="angForm.controls['title'].errors.required">
                                        Title is required.
                                    </div>
                                </div>
                                <div class="form-outline mb-4" data-validate="Text is required">
                                    <textarea type="text" class="form-control" formControlName="content" #content [(ngModel)]="post.content" style="height: 200px;"></textarea>
                                </div>
                                <div *ngIf="angForm.controls['content'].invalid && (angForm.controls['content'].dirty || angForm.controls['content'].touched)" class="alert alert-danger">
                                    <div *ngIf="angForm.controls['content'].errors.required">
                                        Text is required.
                                    </div>
                                </div>
                                <select class="custom-option form-outline mb-4t" style="width: 100%;" #mySelect (change)="onOptionSelect(mySelect.value)">
                                    <option value="" selected disabled>Selected: {{post.category?.text}}</option>
                                    <option *ngFor="let category of categories" [value]="category.id">{{category.text}}</option>
                                </select>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="width: 50%;margin: auto; padding: 10px;" [disabled]="angForm.invalid">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>