<body>
    <hr>
    <h1 class="h1">Edit a post</h1>
    <br>
    <div class="container">
        <form [formGroup]="angForm" novalidate>
            <div class="row">
                <div class="col-25">
                    <label for="fname">Title</label>
                </div>
                <div class="col-75">
                    <input type="text" class="form-control" formControlName="title" #title [(ngModel)]="post.title" />
                </div>
            </div>
            <br>
            <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['title'].errors.required">
                    Title is required.
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Text</label>
                </div>
                <div class="col-75">
                    <textarea type="text" class="form-control" formControlName="content" #content [(ngModel)]="post.content" style="height: 200px;"></textarea>
                </div>
            </div>
            <div *ngIf="angForm.controls['content'].invalid && (angForm.controls['content'].dirty || angForm.controls['content'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['content'].errors.required">
                    Text is required.
                </div>
            </div>
            <br>
            <div class="row">
                <button (click)="updatePost(title.value, content.value)" [disabled]="angForm.invalid" class="btn btn-success">
                  <i class="fas fa-edit"></i> Edit </button>
            </div>
        </form>
    </div>

</body>
<br>

<!-- <div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-2">
            <h3>Edit the Student !</h3>
            <form [formGroup]="angForm" novalidate>
                <div class="form-group">
                    <label class="col-xs-4">Title: </label>
                    <input type="text" class="form-control" formControlName="title" #title [(ngModel)]="post.title" />
                </div>
                <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['title'].errors.required">
                        Title is required.
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4">Text: </label>
                    <input type="text" class="form-control" formControlName="content" #content [(ngModel)]="post.content" />
                </div>
                <div *ngIf="angForm.controls['content'].invalid && (angForm.controls['content'].dirty || angForm.controls['content'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['content'].errors.required">
                        Text is required.
                    </div>
                </div>
                <div class="form-group" style="padding-top:20px;">
                    <button (click)="updatePost(title.value, content.value)" [disabled]="angForm.invalid" class="btn btn-primary"><i class="fa fa-refresh"></i>
            Update Post</button>
                </div>
            </form>
        </div>
    </div>
</div> -->