<header class='masthead'>
    <p class='masthead-intro'>Welcome to</p>
    <h1 class='masthead-heading'>Marko's Psychology Blog</h1>
</header>
<section class="introduction-section">
    <h1>About Me</h1>
    <p>I am a trained psychotherapist and a passionate writer with a master's degree in psychology. I have a keen interest in exploring the human mind and behavior, and I aim to share my knowledge and insights with you through this blog.</p>
</section>
<section class="image-section">
    <img src="../../assets/images/personal/aboutme_pic.png" alt="your-image-description" class="responsive-image">
</section>
<section class="branches-section">
    <h1>Branches of Psychology</h1>
    <p>Psychology is a diverse field that can be broadly divided into several branches, including:</p>
    <ul>
        <li><strong>Cognitive Psychology:</strong> This branch focuses on the study of mental processes such as perception, thinking, and problem-solving.</li>
        <li><strong>Social Psychology:</strong> This branch examines how people interact with each other and how social environments can influence behavior.</li>
        <li><strong>Developmental Psychology:</strong> This branch studies how people change and develop throughout their lifespan, including physical, cognitive, and social development.</li>
        <li><strong>Clinical Psychology:</strong> This branch is concerned with the assessment, diagnosis, and treatment of mental illness and psychological disorders.</li>
    </ul>
</section>
<section class="branches-section">
    <h1>My Services</h1>
    <p>As a licensed psychotherapist, I offer a range of services to help individuals improve their mental health and well-being, including:</p>
    <ul>
        <li><strong>Individual Therapy:</strong> I provide one-on-one therapy sessions to help clients address personal challenges and achieve their goals.</li>
        <li><strong>Couples Therapy:</strong> I offer therapy for couples to improve their communication, resolve conflicts, and strengthen their relationship.</li>
        <li><strong>Group Therapy:</strong> I facilitate group therapy sessions to provide support and encourage personal growth among individuals with similar challenges.</li>
    </ul>
</section>
<section class="introduction-section">
    <h1>About This Blog</h1>
    <p><strong>This blog is a platform for me to share my thoughts, experiences, and insights on various topics related to psychology. Through this blog, I aim to provide useful information and practical tips to help you improve your mental health and well-being.
        Whether you're interested in learning more about psychology, or you're seeking help for a specific issue, I hope that you find the content on this blog informative and helpful.</strong></p>
</section>
<footer class="footer">
    <p><strong>&copy; 2023 Marko's Psychology Blog. All Rights Reserved.</strong></p>
    <p><strong>Designed and developed by Marko Rajić.</strong></p>
</footer>