<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px; border: 1px solid rgb(199, 199, 199);">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Change your profile data</h2>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Permissions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="!roleAdmin">
                                    <button class="dropdown-item" (click)="promoteToAdmin(user.userId, user.roleId)">Promote to admin</button>
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="roleAdmin">
                                    <button class="dropdown-item" (click)="demoteToUser(user.userId, user.roleId)">Demote to user</button>
                                </div>
                            </div>
                            <br>
                            <form name="form">
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="username" placeholder="Enter your username" [(ngModel)]="user.username" required #username="ngModel" disabled/>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="phone" placeholder="Enter your phone" [(ngModel)]="user.phone" required #phone="ngModel" />
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="address" placeholder="Enter your address" [(ngModel)]="user.address" required #address="ngModel" />
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="town" placeholder="Enter your town" [(ngModel)]="user.town" required #town="ngModel" />
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="updateUser(username.value,phone.value, address.value, town.value)">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>