<body>
    <div class="search">
        <form class="search-form">
            <input type="text" placeholder="Search users by firstname" [(ngModel)]="firstname" name="firstname">
            <input type="submit" class="btn btn-outline-success btn-sm " value="Search" (click)="retrieveUsers()">
        </form>
    </div>
    <div class="dropdown">
        <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By Firstname
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="compareAlphabeticallyAsc()">Asc <i class="fas fa-arrow-up"></i></a>
            <a class="dropdown-item" (click)="compareAlphabeticallyDesc()">Desc <i class="fas fa-arrow-down"></i></a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr style="font-family: Arial, Helvetica, sans-serif;">
                            <th scope="col">Username</th>
                            <th scope="col">Firstname</th>
                            <th scope="col">Lastname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Joined At</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let user of users | paginate : {itemsPerPage: pageSize,currentPage: page,totalItems: count}; let i = index" [class.active]="i == currentIndex" (click)="setActiveUser(user, i)">
                        <tr style="font-family: Arial, Helvetica, sans-serif;">
                            <td>{{user?.username}}</td>
                            <td>{{user?.firstname}}</td>
                            <td>{{user?.lastname}}</td>
                            <td>{{user?.email}}</td>
                            <td>{{user?.createdAt | date:"MMM d, y h:mm:ss a"}}</td>
                            <td>
                                <button type="button" style="margin-right: 10px;" class="btn btn-success" routerLink="/edit-user/{{ user.id }}"><i class="fas fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" mwlConfirmationPopover placement="right" [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" (confirm)="deleteUser(user.id)" (cancel)="cancelClicked = true"><i class="far fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
            <div class="col-md-12">
                <h2 style="font-size: 1.5em; font-weight: bolder;">Show more users:
                    <select (change)="handlePageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
                </h2>
            </div>
        </div>
    </div>

    
</body>