<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">My Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="{{ user?.firstname }} {{ user?.lastname }}" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="{{ user?.email }}" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="{{ user?.username }}" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="{{ user?.phone }}" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="{{ user?.address }}" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Town</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input type="text" class="form-control" value="{{ user?.town }}" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div>
    <div>
        <div class="modal fade" id="exampleModalLabelTimelineLikes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelTimelineLikes" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelTimeline">People who liked this timeline</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="commenting-form" *ngFor="let like of likeArrayByTimeline">
                            <div class="row" *ngIf="toDisplayGroup['id'] === like?.timelineId && like?.userId === like?.user.id">
                                <div class="form-group col-md-12">
                                    <div>
                                        <a *ngIf="currentUserLike !== like?.userId" routerLink="/view-profile/{{like?.userId}}" (click)="hideModel();" style="font-size: 30px; font-weight: bold;"><img class="rounded-circle shadow-1-strong me-3" src="http://localhost:4000/uploads/userphoto/{{like?.user.photoName}}" alt="avatar" width="60" height="60" /><strong> {{like?.user.firstname}} {{like?.user.lastname}} </strong></a>
                                        <a *ngIf="currentUserLike === like?.userId" routerLink="/my-profile" (click)="hideModel();" style="font-size: 30px; font-weight: bold;"><img class="rounded-circle shadow-1-strong me-3" src="http://localhost:4000/uploads/userphoto/{{like?.user.photoName}}" alt="avatar" width="60" height="60" /><strong> {{like?.user.firstname}} {{like?.user.lastname}} </strong></a>
                                        <!-- <a routerLink=" " style="font-size: 30px; font-weight: bold; "><img class="rounded-circle shadow-1-strong me-3 " src="http://localhost:4000/uploads/userphoto/{{like?.user.photoName}}
                                            " alt="avatar " width="60 " height="60 " /><strong> {{like?.user.firstname}} {{like?.user.lastname}}</strong> </a> -->
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button #closeModal type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalTimeline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelTimeline" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelTimeline">Add what's on your mind today...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="#" class="commenting-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <textarea name="usercomment" id="usercomment" placeholder="Add to timeline" class="form-control" name="text" [(ngModel)]="form.text" #content="ngModel"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success btn-sm " (click)="onSubmit()">Post</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalTimelineNotifications" tabindex="-1" role="dialog" aria-labelledby="exampleModalTimelineNotifications" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalTimelineNotifications">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <ng-container>
                    <form action="#" class="commenting-form" *ngFor="let notification of notifications">
                        <div class="row" *ngIf="notification.message && notification.status != 'Following'">
                            <div class="form-group col-md-12">
                                <strong>{{notification.message}}</strong>
                            </div>
                            <div>
                                <button type="submit" data-dismiss="modal" style="margin-right:10px; margin-left:10px;" class="btn btn-outline-success btn-sm" (click)="acceptFriendShip(notification?.id);">Accept</button>
                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="unfollow(notification?.id)">Decline</button>
                            </div>
                            <br>
                            <br>
                        </div>
                    </form>
                    <p *ngIf="!checkStatus?.length">No new notifications</p>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<!---->

<div>
    <div>
        <div class="modal fade" id="exampleModalLabelTimelinePhotos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelTimelinePhotos" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelTimelinePhotos">Upload a photo to your gallery</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="inputEmail1" class="label col-sm-3 col-form-label">Content</label>
                                    <div>
                                        <input class="form-control" type="text" nbInput fullWidth id="title" placeholder="Title" [(ngModel)]="formGallery.title" [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="form-control" id="customFile" (change)="selectFile($event)" style="height: auto;" />
                                    <label class="form-label" for="form3Example3cg">Gallery photo</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button #closeModal type="submit" class="btn btn-outline-success btn-sm " data-dismiss="modal" (click)="addGallery()">Upload</button>
                            <button #closeModal type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="container" style="padding-bottom: 150px;">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <div class="profile">
                    <div class="profile-header">
                        <div class="profile-header-cover"></div>
                        <div class="profile-header-content">
                            <div class="profile-header-img">
                                <img src="http://localhost:4000/uploads/userphoto/{{user?.photoName}}" alt="">
                            </div>
                            <div class="profile-header-info">
                                <h4 class="m-t-10 m-b-5">{{ user?.firstname }} {{ user?.lastname }}</h4>
                                <p class="m-b-10">Joined At: {{ user?.createdAt | date: "MMM d, y" }}</p>
                                <p class="m-b-10">Last time updated: {{ user?.updatedAt | date: "MMM d, y h:mm:ss a" }}</p>
                                <!-- <p class="m-b-10">Total timelines: {{timeline?.length}}</p> -->
                                <button *ngIf="role_user == 'ROLE_ADMIN' || role_user == 'ROLE_MODERATOR'" class="btn btn-outline-success btn-sm" style="margin-right:3px;" routerLink="/add-blog"> Create a post</button>
                                <button type="button" style="margin-right:3px;" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#exampleModalTimeline">Add to timeline </button>
                                <button *ngIf="role_user == 'ROLE_ADMIN'" class="btn btn-outline-success btn-sm" style="margin-right:3px;" routerLink="/all-users">List of Users</button>
                                <button class="btn btn-outline-success btn-sm" style="margin-right:3px;" routerLink="/followers">My Friends</button>
                                <button class="btn btn-outline-success btn-sm" style="margin-right:3px;" data-toggle="modal" data-target="#exampleModal">My Info</button>
                                <button class="btn btn-outline-success btn-sm" style="margin-right:3px;" routerLink="/edit-user/{{ currentUser?.id }}">Edit My Info</button>
                                <button class="btn btn-outline-success btn-sm dropdown-toggle" style="margin-right:3px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort Timelines By Date
                                  </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" (click)="compareAlphabeticallyAsc()">Asc <i class="fas fa-arrow-up"></i></a>
                                    <a class="dropdown-item" (click)="compareAlphabeticallyDesc()">Desc <i class="fas fa-arrow-down"></i></a>
                                </div>
                                <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#exampleModalTimelineNotifications"><i class="fa fa-bell" aria-hidden="true"></i> {{checkStatus?.length}} </button>

                            </div>
                        </div>
                        <ul class="profile-header-tab nav nav-tabs">
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'"><a data-toggle="tab" href="#timeline">TIMELINE</a></li>
                            <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'"><a data-toggle="tab" href="#photos">PHOTOS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="tab-slider--container" [ngSwitch]="viewMode">
                        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
                            <section>
                                <div class="container my-5 py-5">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-12 col-lg-10" *ngFor="let timeline of timelines | paginate : {itemsPerPage: pageSize,currentPage: page,totalItems: count}; let i = index" [class.active]="i == currentIndex" (click)="setActiveUser(user, i)" style="margin-top: 10px;">
                                            <div class="card text-dark">
                                                <div class="card-body p-4">
                                                    <div class="d-flex flex-start">
                                                        <img class="rounded-circle shadow-1-strong me-3" src="http://localhost:4000/uploads/userphoto/{{user?.photoName}}" alt="avatar" width="60" height="60" />
                                                        <div>
                                                            <h6 class="fw-bold mb-1"><strong>{{ user?.firstname }} {{ user?.lastname }}</strong></h6>
                                                            <div class="d-flex align-items-center mb-3">
                                                                <p class="mb-0" style="font-style: italic;">
                                                                    {{ timeline?.createdAt | date: "MMM d, y h:mm a" }}
                                                                </p>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <button class="btn btn-outline-success dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="far fa-thumbs-up "></i><strong>{{ timeline.likesTimeline.length }}</strong></button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                        <button style="margin-top:10px;" (click)="toDisplayGroup = timeline" class="dropdown-item" data-toggle="modal" data-target="#exampleModalLabelTimelineLikes"><i class="far fa-user "></i>Who liked</button>
                                                                    </div>
                                                                    <button type="button" title="Edit profile" style="margin-left: 10px;" class="btn btn-outline-secondary btn-sm" routerLink="/edit-timeline/{{ timeline.id }}"><i class="fas fa-edit"></i></button>
                                                                    <a class="btn btn-outline-danger btn-sm " style="margin-left: 10px;" *ngIf="currentUser.id === user?.id" mwlConfirmationPopover placement="top-up" [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" (confirm)="deleteTimelineById(timeline.id)"
                                                                        (cancel)="cancelClicked = true"><i class="fas fa-trash ms-2"></i></a>
                                                                </div>

                                                            </div>
                                                            <p class="mb-0" style="padding-top: 20px;">
                                                                {{timeline?.text}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="position:relative; top:150px;">
                                    <div class="paginate">
                                        <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event, 'timelines')"></pagination-controls>
                                    </div>
                                    <div class="paginate">
                                        <h2 style="font-size: 1.1em; font-weight: bolder;">Timelines per Page:
                                            <select class="browser-default custom-select" style="width: 24.5%;" (change)="handlePageSizeChange($event, 'timelines')">
                                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                                        {{ size }}
                                        </option>
                                        </select>
                                        </h2>
                                    </div>
                                </div>


                            </section>
                        </div>
                        <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
                            <div>
                                <section id="gallery" style="width: 100%;">
                                    <div class="container" style="padding-top:50px;">
                                        <p class="paginate" style="margin-top: 10px;"><strong>Total photos: {{countGallery}}</strong></p>
                                        <div class="paginate">
                                            <button class="btn btn-outline-success btn-sm a" style="margin-right:3px;" data-toggle="modal" data-target="#exampleModalLabelTimelinePhotos">Upload a photo</button>
                                        </div>
                                        <h4 style="text-align: center; padding-bottom: 30px;"></h4>
                                        <div class="row">
                                            <div class="col-md-4 lg-4 animation" *ngFor="let p of photoGallery | paginate : {itemsPerPage: pageSizeGallery,currentPage: pageGallery,totalItems: countGallery}; let i = index" [class.active]="i == currentIndex" style="margin-top: 10px;">
                                                <div class="card" style="border: 1px solid rgb(199, 199, 199); box-shadow: 5px 10px #888888;">
                                                    <img src="http://localhost:4000/uploads/{{p?.name}}" alt=" " class="card-img-top ">
                                                    <div class="card-body ">
                                                        <h5 class="card-title "></h5>
                                                        <h4 class="card-text" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><strong>{{p.title}}</strong></h4>
                                                        <p class="card-text">Publish date: {{p.createdAt | date: "MMM d, y" }}</p>
                                                        <a class="btn btn-outline-danger btn-sm " style="float: right;">
                                                            <span mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessageGallery" (confirm)="deletePhoto(p.id)" (cancel)="cancelClicked = true"><i class="fa fa-trash" aria-hidden="true"></i></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div style="position:relative; top:150px;">
                                <div class="paginate">
                                    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event, 'photos')"></pagination-controls>
                                </div>
                                <div class="paginate">
                                    <h2 style="font-size: 1.1em; font-weight: bolder;">Photos per Page:
                                        <select class="browser-default custom-select" style="width: 27%;" (change)="handlePageSizeChange($event, 'photos')">
                                <option *ngFor="let size of pageSizesGallery" [ngValue]="size">
                                {{ size }}
                                </option>
                                </select>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>