<div class="search">
    <form class="search-form">
        <input type="text" placeholder="Search posts by title" [(ngModel)]="title" name="title">
        <input type="submit" class="btn btn-outline-success btn-sm " value="Search" (click)="retrievePosts()">
    </form>
</div>
<section id="gallery" style="padding-top:50px; border-radius: 1px black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4" *ngFor="let post of posts  | paginate : {itemsPerPage: pageSize,currentPage: page,totalItems: count}; let i = index" [class.active]="i == currentIndex" (click)="setActivePost(post, i)">
                <div class="card">
                    <img src="http://localhost:4000/uploads/{{post?.name}}" alt=" " class="card-img-top ">
                    <div class="card-body ">
                        <h5 class="card-title ">{{post.title}}</h5>
                        <p class="card-text" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{post.content}}</p>
                        <a href="/blogDetail/{{ post.id }}" class="btn btn-outline-success btn-sm "> Read More </a>
                        <a href=" " class="btn btn-outline-danger btn-sm " style="margin-left: 10px;"><i class="far fa-heart "></i></a>
                        <a *ngIf="currentUser.roles== 'ROLE_ADMIN'" href="/edit-post/{{ post.id }}" class="btn btn-outline-success btn-sm" style="float: right; margin-left: 10px;"> Edit </a>
                        <a class="btn btn-outline-danger btn-sm " *ngIf="currentUser.roles== 'ROLE_ADMIN'" style="float: right;">
                            <span mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" (confirm)="deletePost(post.id)" (cancel)="cancelClicked = true"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
</section>