.search {
    border: 1px solid #22d47b;
    overflow: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.dropdown {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.col-md-12 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search input[type="text"] {
    border: 0px;
    width: 67%;
    padding: 10px 10px;
}

.search input[type="text"]:focus {
    outline: 0;
}

.search input[type="submit"] {
    float: right;
    padding: 10px;
    -moz-border-radius-top-right: 5px;
    -webkit-border-radius-top-right: 5px;
    -moz-border-radius-bottom-right: 5px;
    -webkit-border-radius-bottom-right: 5px;
    cursor: pointer;
}

@media only screen and (min-width: 150px) and (max-width: 780px) {
    .search {
        width: 95%;
        margin: 0 auto;
    }
}

.animation {
    padding-top: 20px;
    position: relative;
    animation: mymove 1s;
    animation-fill-mode: forwards;
    transition: box-shadow .3s;
    height: 100%;
}

.animation:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

@keyframes mymove {
    from {
        top: 0px;
    }
    to {
        top: 15px;
    }
}

.btn.btn-outline-success {
    background-color: transparent;
    color: #28a745;
    border-color: #28a745;
}

.btn.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
}

.tag-text {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 0.5rem;
    background-color: #bebebe;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    text-align: center;
}

.tag-text:hover {
    background-color: #22d47b;
}

.shadow-background {
    background-color: #ffffff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.shadow-background:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
}