<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/slider/slider-1.jpg">
      </div>
      <div class="carousel-caption">
        <h3 style="color:#000000">Title Goes Here</h3>
        <p style="color:#000000"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/slider/slider-2.jpg">
      </div>
      <div class="carousel-caption">
        <h3 style="color:#000000">Title Goes Here</h3>
        <p style="color:#000000">Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/slider/slider-3.jpg">
      </div>
      <div class="carousel-caption">
        <h3 style="color:#000000">Title Goes Here</h3>
        <p style="color:#000000">Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  
  <div class="slider">
                      
    <div class="slider__item" style="background-color:#32926F;">
      <div class="md-tb">
        <div class="md-tb__cell">
          <div class="slider__content">
            <div class="container">
              <h2 class="title-01__title" style="color: #000000;">Our Services</h2>
              <p class="title-01__title" style="color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque lu!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End / slider -->
  <br>
  <section id="gallery">
  <div class="container">
   <div class="row">
   <div class="col-lg-4 mb-4">
   <div class="card">
     <img src="../../../assets/images/session/therapy-1.jpg" alt="" class="card-img-top">
     <div class="card-body">
       <h5 class="card-title">Individual Therapy</h5>
       <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
     </div>
    </div>
   </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
     <img src="../../../assets/images/session/therapy-3.jpg" alt="" class="card-img-top">
     <div class="card-body">
       <h5 class="card-title">Group Therapy</h5>
       <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
     </div>
     </div>
   </div>
   <div class="col-lg-4 mb-4">
   <div class="card">
     <img src="../../../assets/images/session/therapy-2.jpg" alt="" class="card-img-top">
     <div class="card-body">
       <h5 class="card-title">Relationship Problems</h5>
       <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
     </div>
    </div>
   </div>
  </div>
  </div>
  </section>
  <!-- <section class="md-section" style="background-color:#f7f7f7;padding:0;">
    <div class="container">
      <div class="textbox-group">
        <div class="row">
          <div class="col-md-4 col-lg-4 ">
  
          
            <div class="textbox">
              <div class="textbox__image"><a href="#"><img src="../../../assets/images/session/therapy-1.jpg"
                    alt="" /></a></div>
              <div class="textbox__body">
                <h2 class="textbox__title"><a href="#">Individual Therapy
                  </a></h2>
                <div class="textbox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque lu</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 ">
  
           
            <div class="textbox">
              <div class="textbox__image"><a href="#"><img src="../../../assets/images/session/therapy-2.jpg" alt="" /></a></div>
              <div class="textbox__body">
                <h2 class="textbox__title"><a href="#">Relationship Problems</a></h2>
                <div class="textbox__description">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. </div>
              </div>
            </div>
  
          </div>
          <div class="col-md-4 col-lg-4 ">
  
           
            <div class="textbox">
              <div class="textbox__image"><a href="#"><img src="../../../assets/images/session/therapy-3.jpg" alt="" /></a></div>
              <div class="textbox__body">
                <h2 class="textbox__title"><a href="#">Group Therapy</a></h2>
                <div class="textbox__description">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu. Lorem ipsum dolor sit amet</div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  <section class="md-section" style="background-color:#32926F;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ">
          
          <!-- title-01 -->
          <div class="title-01 title-01__style-03 md-text-left">
            <h6 class="title-01__subTitle" style="color:#000000;">about</h6>
            <p class="title-01__title" style="color:#000000">We Are The Leaders In This Industry</p>
            <div style="color:#000000">Nam suscipit nisi risus, et porttitor metus molestie a. Phasellus id quam id turpis suscipit pretium. Maecenas ultrices, lacus ut accumsan maximus, odio augue rhoncus augue, vulputate maximus mi sapien sed nisl. Sed fermentum congue orci sed lacinia. Nulla nunc purus, consectetur</div>
          </div><!-- End / title-01 -->
          
          <div class="counter" >
            <div class="row" >
              <div class="col-sm-4 ">
              
                <!-- box-number -->
                <div class="box-number">
                  <div class="box-number__number">
                    <h2>99</h2>
                  </div>
                  <div class="box-number__description">Happy clients</div>
                </div><!-- End / box-number -->
                
              </div>
              <div class="col-sm-4 ">
                
                <!-- box-number -->
                <div class="box-number">
                  <div class="box-number__number">
                    <h2>1200</h2>
                  </div>
                  <div class="box-number__description">Message per Day</div>
                </div><!-- End / box-number -->
                
              </div>
              <div class="col-sm-4 ">
                
                <!-- box-number -->
                <div class="box-number">
                  <div class="box-number__number">
                    <h2>15</h2>
                  </div>
                  <div class="box-number__description">Awards</div>
                </div><!-- End / box-number -->
                
              </div>
  
            </div>
  
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="js-consult-slider">
            
            <!-- carousel__element owl-carousel -->
            <div class="carousel__element owl-carousel">
              <div class="image-full"><img src="../../../assets/images/profile.png" alt=""></div>
            </div><!-- End / carousel__element owl-carousel -->
            
          </div>
        </div>
      </div>
    </div>
  </section>