<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/images/slider/slider-1.jpg">
        </div>
        <div class="carousel-caption">
            <h3 style="color:#000000">Title Goes Here</h3>
            <p style="color:#000000"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/images/slider/slider-2.jpg">
        </div>
        <div class="carousel-caption">
            <h3 style="color:#000000">Title Goes Here</h3>
            <p style="color:#000000">Consectetur tortor volutpat pretium.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/images/slider/slider-3.jpg">
        </div>
        <div class="carousel-caption">
            <h3 style="color:#000000">Title Goes Here</h3>
            <p style="color:#000000">Consectetur tortor volutpat pretium.</p>
        </div>
    </ng-template>
</ngb-carousel>

<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
    <div class="hd">Why People Believe in Us</div>
    <p><small class="text-muted">Always render more and better service than <br />is expected of you, no matter what your ask may be.</small></p>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-12">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="../../../assets/images/session/therapy-1.jpg" />
                    <div class="shadow"></div>
                    <div class="card-title"> Individual Therapy </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">Individual therapy is one type of psychotherapy in which a trained professional helps a single person work through personal issues they have been facing. It is an effective treatment for a variety of emotional difficulties and mental illnesses.</small>                            </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img" src="../../../assets/images/session/therapy-3.jpg" />
                    <div class="card-title"> Group Therapy </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> Group therapy is a form of psychotherapy that involves one or more therapists working with several people at the same time. This type of therapy is widely available at a variety of locations including private therapeutic practices, hospitals, mental health clinics, and community centers. </small>                            </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-12 ml-2">
            <div class="card-content">
                <div class="card-body"> <img class="img rck" src="../../../assets/images/session/therapy-2.jpg" />
                    <div class="card-title"> Relationship Problems </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">In basic terms the reason people have difficulty within a relationship if there has been a substantial breakdown in trust, respect or communication or a combination of all of these factors. </small> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>