<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/images/slider/slider-1.jpg">
        </div>
        <div class="carousel-caption">
            <h4 style="color:#000000; font-family: Georgia, 'Times New Roman', Times, serif;">Title Goes Here</h4>
            <p style="color:#000000; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/images/slider/slider-2.jpg">
        </div>
        <div class="carousel-caption">
            <h4 style="color:#000000; font-family: Georgia, 'Times New Roman', Times, serif;">Title Goes Here</h4>
            <p style="color:#000000; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Consectetur tortor volutpat pretium.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/images/slider/slider-3.jpg">
        </div>
        <div class="carousel-caption">
            <h4 style="color:#000000; font-family: Georgia, 'Times New Roman', Times, serif;">Title Goes Here</h4>
            <p style="color:#000000; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Consectetur tortor volutpat pretium.</p>
        </div>
    </ng-template>
</ngb-carousel>

<section id="profiles" class="page">
    <div class="container" style="width: 100%;">
        <div class="content text-center" style="padding-top:80px;"></div>
        <h4 class="font-weight-bold text-center my-4" style="text-align: center; padding-bottom: 80px;">OUR SERVICE</h4>
        <div class="container-fluid">
            <div class="row" id="profile-grid">
                <div class="col-sm-4 col-xs-12 profile">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a title="Click here" class="thumb">
                                <img src="../../../assets/images/session/therapy-1.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target="#basicExampleModal3">
                                <h1 class="h1" style="text-align: center;">Individual therapy</h1>
                            </a>
                        </div>
                        <br>
                        <div class="modal fade" id="basicExampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel3">Individual therapy</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                                    </div>

                                    <div class="modal-body ">
                                        <img class="profile-pic" src="../../../assets/images/session/therapy-1.jpg" style="display:block;
                              margin:auto;" />
                                        <p>Individual therapy is one type of psychotherapy in which a trained professional helps a single person work through personal issues they have been facing. It is an effective treatment for a variety of emotional difficulties
                                            and mental illnesses.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12 profile">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a title="Click here" class="thumb">
                                <img src="../../../assets/images/session/therapy-3.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target="#basicExampleModal4">
                                <h1 class="h1" style="text-align: center;">Group therapy</h1>
                            </a>
                        </div>
                        <br>
                        <div class="modal fade" id="basicExampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel3">Group therapy</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                                    </div>

                                    <div class="modal-body ">
                                        <img class="profile-pic" src="../../../assets/images/session/therapy-3.jpg" style="display:block;
                              margin:auto;" />
                                        <p>Group therapy is a form of psychotherapy that involves one or more therapists working with several people at the same time. This type of therapy is widely available at a variety of locations including private therapeutic
                                            practices, hospitals, mental health clinics, and community centers.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 profile">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a title="Click here" class="thumb">
                                <img src="../../../assets/images/session/therapy-2.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target="#basicExampleModal5">
                                <h1 class="h1" style="text-align: center;">Relationship problems</h1>
                            </a>
                        </div>
                        <br>
                        <div class="modal fade" id="basicExampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel3">Relationship problems</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                                    </div>

                                    <div class="modal-body ">
                                        <img class="profile-pic" src="../../../assets/images/session/therapy-2.jpg" style="display:block;
                              margin:auto;" />
                                        <p>In basic terms the reason people have difficulty within a relationship if there has been a substantial breakdown in trust, respect or communication or a combination of all of these factors.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="content text-center" style="padding-top: 30px;">
    <div class="heading">
        <div class="border"></div>
        <p></p>
    </div>
</div>
<br>
<br>
<div>
    <section id="gallery" style="width: 100%;">
        <div class="container" style="padding-top:50px;">
            <h4 class="font-weight-bold text-center my-4" style="text-align: center; padding-bottom: 30px;">LATEST BLOG POSTS</h4>
            <div class="row">
                <div class="col-md-4 lg-4 animation" *ngFor="let post of posts  | paginate : {itemsPerPage: pageSize,currentPage: page,totalItems: count}; let i = index" [class.active]="i == currentIndex" (click)="setActivePost(post, i)">
                    <div class="card" routerLink="/blogDetail/{{ post.id }}">
                        <img src="http://localhost:6868/uploads/{{post?.name}}" alt=" " class="card-img-top ">
                        <div class="card-body ">
                            <h5 class="card-title ">{{post.title}}</h5>
                            <p class="card-text" style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{post.content}}</p>
                            <br>
                            <a routerLink="/blogDetail/{{ post.id }}" class="btn btn-outline-success btn-sm "> Read More </a>
                            <hr>
                            <p class="card-text"> Published: {{post.createdAt | date: "MMMM d, y"}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<br>
<br>
<div class="content text-center" style="padding-top: 30px;">
    <div class="heading">
        <div class="border"></div>
        <p></p>
    </div>
</div>
<section class="contactform mb-4 animation" style="width: 50%;">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-center text-md-left">
                <button type="submit" class="btn btn-info btn-sm ml-0">Submit<i class="far fa-paper-plane ml-2"></i></button>
            </div>
            <div class="status"></div>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Novi Sad, 21000
                        <br> Serbia
                    </p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@mdbootstrap.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>