<section class="vh-150 bg-image">
    <div class="mask d-flex align-items-center h-150" style="padding-top:50px">
        <div class="container h-150">
            <div class="row d-flex justify-content-center align-items-center h-150">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6" style="padding-bottom:50px">
                    <div class="card" style="border-radius: 15px; border: 1px solid rgb(199, 199, 199);">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                            <form form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate id="signup-form" class="signup-form">
                                <div class="alert-danger" *ngIf="username.errors && f.submitted">
                                    <div *ngIf="username.errors.required">Username is required</div>
                                    <div *ngIf="username.errors.minlength">
                                        Username must be at least 3 characters
                                    </div>
                                    <div *ngIf="username.errors.maxlength">
                                        Username must be at most 20 characters
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel" placeholder="Username" />
                                </div>
                                <div class="alert-danger" *ngIf="email.errors && f.submitted">
                                    <div *ngIf="email.errors.required">Email is required</div>
                                    <div *ngIf="email.errors.email">
                                        Email must be a valid email address
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example3cg" class="form-control form-control-lg" name="email" [(ngModel)]="form.email" required email #email="ngModel" placeholder="Email" />
                                </div>
                                <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
                                    <div *ngIf="firstname.errors.required">Firstname is required</div>
                                    <div *ngIf="firstname.errors.firstname">
                                        Firstname must be a valid email address
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="firstname" [(ngModel)]="form.firstname" required firstname #firstname="ngModel" placeholder="Firstname" />
                                </div>
                                <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
                                    <div *ngIf="lastname.errors.required">Lastname is required</div>
                                    <div *ngIf="lastname.errors.lastname">
                                        Lastname must be a valid email address
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" name="lastname" [(ngModel)]="form.lastname" required lastname #lastname="ngModel" placeholder="Lastname" />
                                </div>
                                <div class="alert-danger" *ngIf="password.errors && f.submitted">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                    <div *ngIf="password.errors.minlength">
                                        Password must be at least 6 characters
                                    </div>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" placeholder="Password" />
                                </div>

                                <div class="alert-danger" *ngIf="!croppedImage && f.submitted">
                                    <div>Photo is required</div>
                                </div>
                                <div class="form-outline mb-4t">
                                    <input type="file" class="form-control" id="customFile" (change)="fileChangeEvent($event)" style="height: auto;" />
                                    <label class="form-label" for="form3Example3cg">Your profile photo</label>
                                </div>
                                <div class="col-md-8" style="margin: auto;">
                                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4" [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                                    </image-cropper>
                                </div>
                                <br>
                                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                    Signup failed!<br />{{ message }}
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="width: 50%;margin: auto; padding: 10px;">Register</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/login" class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>
                            <div class="alert alert-success" *ngIf="isSuccessful" style="height: 500px;">
                                <h1>Your registration is successful! </h1>
                                <h2>Check your email to confirm your registration!</h2>
                                <div><a routerLink='/login'>Login Here</a> </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>